<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EnergyAustraliaCodingAssessment">
	<test thread-count="5" name="FirstExecution">
		<classes>
			<class name="com.EnergyAustralia.Test.MusicFestival"></class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="SecondExecution">
		<classes>
			<class name="com.EnergyAustralia.Test.MusicFestival"></class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="ThirdExecution">
		<classes>
			<class name="com.EnergyAustralia.Test.MusicFestival"></class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="FourthExecution">
		<classes>
			<class name="com.EnergyAustralia.Test.MusicFestival"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
